<h1 class="mb-4">Password Change</h1>
<%= render "errors" %>

<div class="mt-2">
<%= form_with url: change_password_path, data: { turbo: false } do |form| %>
  <div class="mb-4">
    <%= form.label :current_password%>
    <%= form.text_field :current_password, class:"form-control" %>
  </div>
  <div class="mb-4">
    <%= form.label :new_password %>
    <%= form.password_field :new_password, class:"form-control" %>
  </div>
  <div class="mb-4">
    <%= form.label :new_password_confirmation %>
    <%= form.password_field :new_password_confirmation, class:"form-control" %>
  </div>
  <%= form.submit "Save", class:"btn btn-outline-primary" %>
<% end %>
</div>