<div class="mb-4">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
  <small>
    Posted <%= time_tag @post.created_at, "data-local":"time-ago" %>
  </small>
  <div class="d-flex mt-4">
    <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-outline-primary me-3" %> 
    <%= button_to "Delete", @post, method: :delete, form: { data: {turbo_confirm: "Are you sure?" } }, class:"btn btn-outline-danger" %>
  </div>
</div>
<hr />

<div>
  <h4>Write Comment</h4>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger">
      <h5>
        <%= pluralize(@comment.errors.count, "error") %> prohibited this comment
        from being saved:
      </h5>
      <ul class="m-0">
        <% @comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model:[@post, @comment]) do |f| %>
    <div class="mb-3">
      <%= f.text_area :body, class:"form-control" %>
    </div>
    <%= f.submit "Submit", class:"btn btn-outline-primary" %> 
  <% end %>
</div>

<% if @comments.any? %>
  <div class="mt-4">
   <h4><%= pluralize(@comments.count, "Comment") %></h4>
    <% @comments.each do |comment| %>
    <div id="<%= dom_id(comment) %>" class="my-3">
      <div><%= comment.body %></div>
      <small class="d-flex">
        <span><%= time_tag comment.created_at, "data-local":"time-ago" %></span>
        <span class="mx-1">·</span>
        <%= button_to "Delete", post_comment_path(@post, comment), method:
        :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:
        "link-primary link-btn" %>
      </small>
      <hr />
    </div>
    <% end %>
  </div>
<% end %>
